html, body {
	height: 100%;
	background-color: skyblue;
}

#contents {
	display: flex;
	flex-direction: column;
}

#calculator {
	align-self: center;
	background: saddlebrown;
}

#display {
	grid-area: 1/1/2/5;
	justify-self: center;
	align-self: center;
}

button {
	background: goldenrod;
}

#clear {
	grid-area: 6/4/7/5;
}

footer {
	align-self: center;
}
