html, body {
	height: 100%;
	background-color: skyblue;
}

#contents {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#calculator {
	align-self: center;
	background: saddlebrown;
}

button {
	background: goldenrod;
}

#display {
	grid-area: 1/1/2/5;
	justify-self: center;
	align-self: center;
}

/*this is the class '0', needed to escape the numeric char */
#\30 {
	grid-area: 6/1/7/3;
}

footer {
	align-self: center;
}
